## Access modifiers
snippet po
	protected ${0}
snippet pu
	public ${0}
snippet pr
	private ${0}

snippet ext
	extends ${0}
snippet imp
	implements ${0}

## Statements
snippet if
	if (${1})
	{
		${0}
	}
snippet do
	do
	{
		${0}
	}
	while (${1});
snippet while
	while (${1})
	{
		${0}
	}
snippet try
	try
	{
		${0}
	}
	catch (${1:Exception} ${2:ex})
	{
	}
